// Put a copy of this file in every environment

{
    "POSTGRES_USER": "username",
    "POSTGRES_PASSWORD": "password",
    "DJANGO_SECRET_KEY": "/<$Ew!b`,^|zn]@7*i/!8u$Z[kX-]H=rHJ1JX@y)^Ii.24paOI",
    "EMAIL_HOST_USER": "username",
    "EMAIL_HOST_PASSWORD": "password"
}
