{% extends "forms/base.html" %}
{% load i18n crispy_forms_tags account socialaccount %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block form_title %}{% trans "Signup" %}{% endblock form_title %}

{% block inner %}
<div class="grid-container">
    {% get_providers as socialaccount_providers %}
    {% if socialaccount_providers %}
    <div class="grid-x grid-margin-x">
        <div class="small-12 cell">
            <p>Please sign up with one of your existing third party accounts.</p>
            <div class="socialaccount_ballot">
                <ul class="ic__socialaccount_providers">
                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                </ul>
                <div class="login-or">{% trans 'or' %}</div>
            </div>
            {% include "socialaccount/snippets/login_extra.html" %}
        </div>
    </div>
    {% endif %}
        <form class="login ic__form signup" id="signup_form" method="post" action="{% url 'account_signup' %}" novalidate>{% csrf_token %}
            <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
            {{ form }}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="ic__buttons">
                <button class="button" type="submit">{% trans "Sign Up" %}</button>
            </div>
        </form>
</div>
{% endblock %}

