// Base colors
$foundation-palette: (
  // primary: #1779ba,
  primary: #03a9f4,
  secondary: #767676,
  // success: #3adb76,
  success: #4CAF50,
  warning: #ff9800,
  alert: #F44336,
  error: #F44336,
);
$superlight-gray: #fafafa;
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #545454;
$white: #fefefe;
$twitter-gray: #e6ecf0;

// Tags
$nature: #009688;
$hiking: #5D4037;
$food: #4CAF50;
$party: #EC407A;
$sport: #2196F3;
$mindfulness: #3F51B5;
$drinks: #E91E63;
$binoculars: #8BC34A;
$animals: #FF9800;
$ecological: #4CAF50;
$cinema: #FFEB3B;
$hippie: #CDDC39;
$beach: #FF5722;
$sailing: #01579B;
$kayaking: #01579B;
$biking: #FF6F00;
$games: #E53935;
$painting: #6A1B9A;
$culture: #EC407A;
$kids: #C62828;
$workshop: #0288D1;
$conference: #039be5;
$lgbt: #8e24aa;
$municipal: #3949ab;
$music: #ef6c00;
