.ic__topnav {
    background-color: #fefefe;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    @include breakpoint(medium) {
        flex-direction: row;
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;
        flex: 1 0 auto;
        &.left {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        &.right {
            // Remove button styling and icons somehow
            a.button {
                border-radius: 0;
            }
            @include breakpoint(medium) {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                flex: 0 0 auto;
                li {
                    a {
                        padding: 0.7rem 1rem;
                        &.button {
                            border-radius: $global-radius;
                        }
                    }
                }
            }
        }
        li {
            position: relative;
            white-space: nowrap;
            a {
                display: flex;
                align-items: center;
                padding: 0.7rem 1rem;
                margin-bottom: 0;
                white-space: nowrap;
            }
        }
    }

    .nav-toggle {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        text-transform: uppercase;
        @include breakpoint(medium) {
            display: none;
        }
    }
}

ul.ic__dropdown {
    background-color: #fefefe;

    position: relative;
    margin-left: 1rem;
    @include breakpoint(medium) {
        position: absolute;
        z-index: 100;
        margin-left: 0;
        right: 0;
    }
}

.ic__settings {
    color: $black;
    cursor: default;
    &:hover, &:focus, &:active {
        color: $black;
    }
    @include breakpoint(medium) {
        color: $primary-color;
        cursor: pointer;
        &:hover, &:focus, &:active {
            color: $primary-color;
        }
    }
}

ul.ic__dropdown.hide {
    display: block !important;
    @include breakpoint(medium) {
        display: none !important;
    }
}
