{% load meta static i18n core_tags %}
<nav class="ic__topnav">
  <ul class="left">
    <li>
      <a class="ic__logo-link" href="/">
        <svg class="ic__icon ic__logo-large ic__logo">
          <use xlink:href="#icon-logo1"></use>
        </svg>
      </a>
    </li>
    <li class="hide-for-medium">
      <button class="nav-toggle" id="toggler">Menu
        <svg class="ic__icon medium-large">
          <use xlink:href="#icon-hamburger-menu"></use>
        </svg>
      </button>
    </li>
  </ul>
  <ul class="right nav-collapse">
    <li>
      <a href="{% url 'events:list-events' %}">{% trans "Events" %}</a>
    </li>
    <li>
      <a href="{% url 'newsletter:signup' %}">{% trans "Newsletter" %}</a>
    </li>
    {% if request.user.is_authenticated %}
    <li>
      <a href="{% url 'users:list-users' %}">{% trans "Members" %}</a>
    </li>
    <li>
      <a href="{% url 'users:public-profile' request.user.username %}">
        <i class="ic__user-avatar small normal ic__nomargin" title="{{ event.created_by.username }}">
          {% avatar request.user 'small' %}
        </i>
        <span class="ic__icon-text hide-for-medium">Profile</span>
      </a>
    </li>
    <li>
      <a href="#" class="ic__settings">
        <i class="ic__nomargin">
          <svg class="ic__icon small">
            <use xlink:href="#icon-settings"></use>
          </svg>
        </i>
        <span class="ic__icon-text hide-for-medium">Settings</span>
      </a>
      <ul class="ic__dropdown hide">
        <li>
          <a href="{% url 'users:private-profile' %}">{% trans "Edit profile" %}</a>
        </li>
        <li>
          <a href="{% url 'socialaccount_connections' %}">{% trans 'Social accounts' %}</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
    </li>
    {% else %}
    <li>
      <a href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
    </li>
    <li>
      <a class="button" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
    </li>
    {% endif %}
  </ul>
</nav>
