{% load meta static i18n core_tags %}
<!DOCTYPE html>
<html lang="en">
    <head{% meta_namespaces %}>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block head_title %}Comunidad Ibiza{% endblock %}{% block subtitle %}{% if request.path_info != '/' %} | Comunidad Ibiza{% endif %}{% endblock subtitle %}</title>
        {% include 'meta/meta.html' %}
        {% include "_favicons.html" %}
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <![endif]-->

        {% block css %}
            <link href="{% static 'css/app.css' %}" rel="stylesheet">
            <link href="{% static 'lib/responsive-nav-js/responsive-nav.css' %}" rel="stylesheet">
        {% endblock %}

        {% block ga %}
            {% include "_google_analytics_beta.html" %}
        {% endblock ga %}
    </head>
    {% comment %}Use bodyclass to align content, for example 'center'.{% endcomment %}
    <body class="{% block bodyclass %}{% endblock bodyclass %}">
        {% include_svg 'symbol-defs.svg' %}
        <!-- Responsive nav -->
        {% block topnav %}
        {% include '_topnav.html' %}
        {% endblock topnav %}

        <div class="grid-container ic__main-container{% block extra_container_class %}{% endblock extra_container_class %}">
            {% block messages %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="callout {% if message.tags %}{{ message.tags }}{% endif %}" data-closable>
                            {{ message }}
                            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endblock messages %}
            {% block page_title_container %}
            <div class="grid-x grid-margin-x ic__title-container">
                <div class="small-12 cell"><h1>{% block page_title %}Default title{% endblock page_title %}</h1></div>
            </div>
            {% endblock page_title_container %}

            {% block content %}
                <div class="grid-x grid-margin-x">
                    <div class="small-12 cell">{% block inner %}<p>Use this document as a way to quick start any new project.</p>{% endblock inner %}</div>
                </div>
            {% endblock content %}
        </div>
        <footer>
            <div class="grid-container">
                <div class="grid-x grid-margin-x ic__center">
                    <div class="cell small-12">
                        <p>
                            <a href="mailto:martin@martinkjellberg.com">Say hello!</a> &middot;
                            <a href="https://twitter.com/mistalaba" target="_blank"><i class="ic__vertical-align-fix ic__nomargin"><svg class="ic__icon small"><use xlink:href="#icon-social-twitter"></use></svg></i></a>
                        </p>
                    </div>
                </div>
                <div class="grid-x grid-margin-x ic__center">
                    <div class="cell small-12">
                        <p>Made with ❤️ by Thin &amp; Crispy</p>
                    </div>
                </div>
                </div>
        </footer>
        <!-- <span>is_user_profile_incomplete: {{ is_user_profile_incomplete }}</span> -->
        {% block modal %}{% endblock modal %}

        {% block javascript %}
            <script src="{% static 'lib/responsive-nav-js/responsive-nav.js' %}"></script>
            <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
            <script src="{% static 'lib/foundation-sites/foundation.min.js' %}"></script>
            <script src="{% static 'lib/js-cookie/js.cookie.js' %}"></script>
            <script>
                var user = {% if request.user.is_authenticated %}true{% else %}false{% endif %};
            </script>

            <script src="{% static 'js/app.js' %}"></script>
            <script src="{% static 'lib/timeago/jquery.timeago.js' %}"></script>
            <script>$(document).foundation();</script>
            <script>
                var nav = responsiveNav(".nav-collapse", { // Selector
                    customToggle: "#toggler",
                    openPos: "relative",
                    init: function(){}, // Function: Init callback
                    open: function(){}, // Function: Open callback
                    close: function(){} // Function: Close callback
                });
                var nav_settings_button = document.querySelector('.ic__settings');
                var nav_settings_submenu = document.querySelector('.ic__dropdown');
                if (nav_settings_button!=null) {
                    nav_settings_button.onclick = function(event) {
                    event.preventDefault();
                    console.log('click');
                    if (!document.querySelectorAll('.nav-collapse.opened').length > 0) {
                        if (nav_settings_submenu.classList.contains('hide')) {
                            nav_settings_submenu.classList.remove('hide');
                        }
                        else {
                            nav_settings_submenu.classList.add('hide');
                        }
                    }
                };

                }
            </script>
        {% endblock javascript %}
    </body>
</html>
