{% load meta static i18n core_tags %}
<!DOCTYPE html>
<html lang="en">
    <head{% meta_namespaces %}>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NAVIGATION TEST</title>
        {% include 'meta/meta.html' %}
        {% include "_favicons.html" %}
        {% block css %}
            <link href="{% static 'css/app.css' %}" rel="stylesheet">
            <link href="{% static 'lib/responsive-nav-js/responsive-nav.css' %}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% include_svg 'symbol-defs.svg' %}
        {% block topnav %}
        <nav class="ic__topnav">
            <ul class="left">
                <li>
                    <a class="ic__logo-link" href="/">
                        <svg class="ic__icon ic__logo-large ic__logo">
                            <use xlink:href="#icon-logo1"></use>
                        </svg>
                    </a>
                </li>
                <li class="hide-for-medium">
                    <button class="nav-toggle" id="toggler">Menu
                        <svg class="ic__icon medium-large"><use xlink:href="#icon-hamburger-menu"></use></svg>
                    </button>
                </li>
            </ul>
            <ul class="right nav-collapse">
                <li><a href="#">Events</a></li>
                <li><a href="#">Newsletter</a></li>
                <li><a href="#">Sign in</a></li>
                <li><a class="button" href="#">Sign Up</a></li>

            </ul>
        </nav>


        {% endblock topnav %}
        {% block javascript %}
            <script src="{% static 'lib/responsive-nav-js/responsive-nav.js' %}"></script>
            <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
            <script src="{% static 'lib/foundation-sites/foundation.min.js' %}"></script>
            <script src="{% static 'lib/js-cookie/js.cookie.js' %}"></script>
            <script>
                var user = {% if request.user.is_authenticated %}true{% else %}false{% endif %};

                var nav = responsiveNav(".nav-collapse", { // Selector
                    customToggle: "#toggler",
                    openPos: "relative",
                    init: function(){}, // Function: Init callback
                    open: function(){}, // Function: Open callback
                    close: function(){} // Function: Close callback
                });
            </script>

            <script src="{% static 'js/app.js' %}"></script>
            <script src="{% static 'lib/timeago/jquery.timeago.js' %}"></script>
            <script>$(document).foundation();</script>
        {% endblock javascript %}
    </body>
</html>
