{% extends "forms/base.html" %}
{% load staticfiles i18n %}

{% block head_title %}{% trans 'Profile' %}{% endblock %}

{% block form_title %}{% trans 'Profile' %}{% endblock form_title %}

{% block inner %}
    <form class="profile ic__form" method="POST" action="" novalidate enctype="multipart/form-data">{% csrf_token %}
        {% for field in form %}{% include 'forms/_form_field.html' %}{% endfor %}
        <div class="ic__buttons">
            <button class="button primary" type="submit">{% trans 'Save profile' %}</button>
        </div>
    </form>
{% endblock inner %}
