$font-path: '../fonts/roboto/';

@font-face {
    font-family: 'robotoblack';
    src: url('#{$font-path}roboto-black-webfont.woff2') format('woff2'),
         url('#{$font-path}roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoblack_italic';
    src: url('#{$font-path}roboto-blackitalic-webfont.woff2') format('woff2'),
         url('#{$font-path}roboto-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('#{$font-path}roboto-bold-webfont.woff2') format('woff2'),
         url('#{$font-path}roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold_italic';
    src: url('#{$font-path}roboto-bolditalic-webfont.woff2') format('woff2'),
         url('#{$font-path}roboto-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoitalic';
    src: url('#{$font-path}roboto-italic-webfont.woff2') format('woff2'),
         url('#{$font-path}roboto-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('#{$font-path}roboto-light-webfont.woff2') format('woff2'),
         url('#{$font-path}roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight_italic';
    src: url('#{$font-path}roboto-lightitalic-webfont.woff2') format('woff2'),
         url('#{$font-path}roboto-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('#{$font-path}roboto-medium-webfont.woff2') format('woff2'),
         url('#{$font-path}roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium_italic';
    src: url('#{$font-path}roboto-mediumitalic-webfont.woff2') format('woff2'),
         url('#{$font-path}roboto-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('#{$font-path}roboto-regular-webfont.woff2') format('woff2'),
         url('#{$font-path}roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotothin';
    src: url('#{$font-path}roboto-thin-webfont.woff2') format('woff2'),
         url('#{$font-path}roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotothin_italic';
    src: url('#{$font-path}roboto-thinitalic-webfont.woff2') format('woff2'),
         url('#{$font-path}roboto-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
