.ic__form-container {
    margin: rem-calc(60) auto 0;
    // background-color: $light-gray;

    .ic__form {
        padding: $global-padding 0;
    }
}

.ic__form-wrapper {
    background-color: $white;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
}

.ic__form-header {
    background-color: $primary-color;
    padding: $global-margin;
    h1 {
        color: color-pick-contrast($primary-color, ($button-color, $button-color-alt));
        margin: -1px;
        // margin-bottom: 0;
    }
}

div.ic__buttons {
    // Contains the submit buttons etc. Foundation 6 adds margin-bottom on buttons, remove it.
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    margin-bottom: $global-margin;
    * {
        margin-bottom: 0;
        &:not(:last-child) {
            margin-right: $global-margin;
        }
    }
}

.ic__inline_form {
    // For example used by comments
    width: 100%;
}

.ic__comments-container {
    display: block;
    .ic__comment-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        align-content: flex-start;
        margin-bottom: $global-margin;
        .ic__comment-profile {
            margin-right: $global-margin;
            flex: 0 1 auto;
        }
        .ic__comment-body {
            flex: 1 0 auto;
            align-self: stretch;
            border-bottom: 1px solid $light-gray;
            .ic__comment-meta {
                color: $medium-gray;
            }

        }
    }
}

.ic__inline-search-container {
    .input-group {
        margin-bottom: 0;
    }
}
