$nature: #009688;
$hiking: #5D4037;
$food: #4CAF50;
$party: #EC407A;
$sport: #2196F3;
$mindfulness: #3F51B5;
$drinks: #E91E63;
$binoculars: #8BC34A;
$animals: #FF9800;
$ecological: #4CAF50;
$cinema: #FFEB3B;
$hippie: #CDDC39;
$beach: #FF5722;

i, input[name="categories"] + label {
    border-bottom: none !important; // Disable dotted underlining from Foundation
}

.ic__categories-container {
    margin-bottom: 1rem;
}

[class*="ic__tag-"].ic__icon {
    stroke-width: 4;
    stroke-miterlimit: 10;

}

input[name=categories] + label [class*="ic__tag-"].ic__icon {
    // Default styles
    color: currentColor;
    fill: none;
}

[class*="ic__tag-"].ic__icon {
    // Default styles
    color: currentColor;
    fill: none;
}


// Checked items should be inverse
input[name=categories]:checked + label [class*="ic__tag-"] {
    color: $white;
}

.ic__tag-nature.ic__icon {
    color: $nature;
}
input[name=categories]:checked + label .ic__tag-nature {
    fill: $nature;
}

.ic__tag-hiking.ic__icon{
    color: $hiking;
}
input[name=categories]:checked + label .ic__tag-hiking {
    fill: $hiking;
}

.ic__tag-food.ic__icon{
    color: $food;
}
input[name=categories]:checked + label .ic__tag-food {
    fill: $food;
}

.ic__tag-party.ic__icon{
    color: $party;
}
input[name=categories]:checked + label .ic__tag-party {
    fill: $party;
}

.ic__tag-sport.ic__icon{
    color: $sport;
}
input[name=categories]:checked + label .ic__tag-sport {
    fill: $sport;
}

.ic__tag-mindfulness.ic__icon{
    color: $mindfulness;
}
input[name=categories]:checked + label .ic__tag-mindfulness {
    fill: $mindfulness;
}
.ic__tag-drinks.ic__icon{
    color: $drinks;
}
input[name=categories]:checked + label .ic__tag-drinks {
    fill: $drinks;
}
.ic__tag-binoculars.ic__icon{
    color: $binoculars;
}
input[name=categories]:checked + label .ic__tag-binoculars {
    fill: $binoculars;
}
.ic__tag-animals.ic__icon{
    color: $animals;
}
input[name=categories]:checked + label .ic__tag-animals {
    fill: $animals;
}
.ic__tag-ecological.ic__icon{
    color: $ecological;
}
input[name=categories]:checked + label .ic__tag-ecological {
    fill: $ecological;
}
.ic__tag-cinema.ic__icon{
    color: $cinema;
}
input[name=categories]:checked + label .ic__tag-cinema {
    fill: $cinema;
}
.ic__tag-hippie.ic__icon{
    color: $hippie;
}
input[name=categories]:checked + label .ic__tag-hippie {
    fill: $hippie;
}
.ic__tag-beach.ic__icon{
    color: $beach;
}
input[name=categories]:checked + label .ic__tag-beach {
    fill: $beach;
}




// Forms
// Change checkboxes to icons
ul#id_categories {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    label {
        margin: 0 0.5rem 0 0;
    }
}

input[name=categories] {
    display: none;
}

input[name=categories] + label [class*="ic__tag-"] {
    // color: #aaa;
}
