.ic__user-avatar {
    position: absolute;
    height: 3em;
    width: 3em;
    border: 2px solid #ffffff;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    cursor: default;
    overflow: hidden;
    @include shadow($callout-shadow);

    // Experimental
    display: flex;
    justify-content: center;
    align-items: baseline;

    &.top {
        top: -1rem;
        @include breakpoint(small only) {
            top: 0.5rem;
        }
    }
    &.right{
        right: -1rem;
        @include breakpoint(small only) {
            right: 0.5rem;
        }
    }
}

.ic__user-without-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.5rem;
}

.ic__user-avatar-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.ic__avatar_big_container {
    max-width: 20rem;
    @include aspect-ratio(1,1);
}

.ic__avatar-container {
    text-align: center;
}

.ic__avatar_big {
    // Used on private profile page
    object-fit: cover;
    width: 20em;
    height: 20em;
    border-radius: 50%;
    padding: 2em;
}
