@import 'foundation/settings';
@import '../bower_components/foundation-sites/scss/foundation';
@import '_components/forms';
@import '_components/fonts';
@import '_components/cards';

@include foundation-global-styles;
@include foundation-xy-grid-classes;
//@include foundation-grid;
//@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-typography;
@include foundation-forms;
@include foundation-button;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;

// Foundation 6.4.1 fixes
.menu-text > a {
    padding: 0 !important;
    color: inherit;
}

// * Navbar * //
// Set height of navbar
// .ic__main-nav, .menu  {
//     height: 80px;
// }
.top-bar, .top-bar ul {
    background-color: $white;
}
.ic__main-nav{
    margin-bottom: 3em;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    // Used this example for centering the menu links: https://codepen.io/chriscoyier/pen/Jeryz?editors=1100
    .menu {
        // Add this to Foundation .menu since links next to logo are misaligned.
        align-items: center;
    }
}

.ic__title-bar {
    justify-content: space-between;
}

// * icons * //
// Taken from icomoon
.ic__icon {
    // Defaults for all icons
    display: block;
    width: 32px;
    height: 32px;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    &.small {
        width: 24px;
        height: 24px;
    }
}


// LOGO
i {
    // Hijack i for icons
    display: inline-block;
    font-style: normal;
    margin-right: 0.5em;
}
.ic__logo-large {
    width: 64px;
    height: 64px;
}

.ic__logo-small {
    width: 32px;
    height: 32px;
}

.ic__logo {
    fill: $black;
}

.ic__logo-inverse {
    fill: $white;
}

.menu a.ic__logo-link {
    padding: 0;
}

.ic__logo-link-small {
    padding: 5px;
}
