{% load static i18n core_tags meta %}
<!DOCTYPE html>
<html lang="en">
    <head{% meta_namespaces %}>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block head_title %}Comunidad Ibiza - Local knowledge working together{% endblock %}{% block subtitle %}{% if request.path_info != '/' %} | Comunidad Ibiza{% endif %}{% endblock subtitle %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include 'meta/meta.html' %}
        {# include "_meta.html" #}
        {% include "_favicons.html" %}
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
            <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
            <![endif]-->

            {% block css %}
            <link href="{% static 'css/app.css' %}" rel="stylesheet">
            {% endblock %}
        {% block ga %}
        {% include "_google_analytics.html" %}
        {% endblock ga %}
    </head>

    <body class="ic__comingsoon">
        {% include_svg 'symbol-defs.svg' %}
        <div class="title-bar ic__title-bar" data-responsive-toggle="top-menu" data-hide-for="medium" style="display:none;">
            <!-- Should be to the left -->
            <a class="ic__logo-link-small" href="{% url 'home' %}">
                <svg class="ic__icon ic__logo-small ic__logo-inverse"><use xlink:href="#icon-logo1"></use></svg>
            </a>
            <!-- Should be to the right -->
            <button class="menu-icon" type="button" data-toggle="top-menu"></button>
        </div>

        <div class="top-bar ic__main-nav-homepage" id="top-menu">
            <div class="top-bar-right">
                <ul class="vertical medium-horizontal menu dropdown" data-dropdown-menu>
                    <li><a href="{% url 'events:list-events' %}">{% trans "Events" %}</a></li>
                    <li><a href="{% url 'newsletter:signup' %}">{% trans "Newsletter" %}</a></li>
                    {% if request.user.is_authenticated %}
                    <li><a href="{% url 'users:list-users' %}">{% trans "Members" %}</a></li>
                    <li>
                        <a href="{% url 'users:public-profile' request.user.username %}">
                                <i class="ic__user-avatar small normal ic__nomargin" title="{{ event.created_by.username }}">
                                        {% avatar request.user 'small' %}
                                </i>
                        </a>
                    </li>
                    <li><a href="#"><i class="ic__nomargin"><svg class="ic__icon small"><use xlink:href="#icon-settings"></use></svg></i></a>
                        <ul class="menu">
                            <li><a href="{% url 'users:private-profile' %}">{% trans "Edit profile" %}</a></li>
                            <li><a href="{% url 'socialaccount_connections' %}">{% trans 'Social accounts' %}</a></li>
                            <li><a href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a></li>
                        </ul>
                    </li>
                    {% else %}
                        <li><a href="{% url 'account_login' %}">{% trans "Sign In" %}</a></li>
                        <li><a class="button" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="grid-container ic_homepage_container">
            <div class="grid-x grid-margin-x">
                <div class="cell small-12">
                    <svg class="ic__icon ic__logo-large ic__logo-inverse"><use xlink:href="#icon-logo1"></use></svg><br>
                    <h1>{% trans "Comunidad Ibiza" %}</h1>
                    <h2>{% trans "Because local knowledge matters." %}</h2>
                </div>
                <div class="cell small-12 medium-8">
                    <!-- Search -->
                    <form action="{% url 'events:list-events' %}" method="get" class="ic__homepage-form">
                        <input type="search" name="q" id="id_q" placeholder="{% trans 'Find your next event' %}">
                        <button type="submit" class="ic__search-button">
                            <i><svg class="ic__icon small"><use xlink:href="#icon-magnifying-glass"></use></svg></i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="grid-x grid-margin-x">
                <div class="cell small-4">cell</div>
                <div class="cell small-4">cell</div>
            </div>
        </div>
        <!--
        <div class="ic__cs-wrapper">
            <div class="ic__cs-container">
                <svg class="ic__icon ic__logo-large ic__logo-inverse"><use xlink:href="#icon-logo1"></use></svg>
                <h1>{% trans "Comunidad Ibiza" %}</h1>
                <h2>{% trans "Because local knowledge matters." %}</h2>
                <form action="{% url 'events:list-events' %}" class="ic__big-search-container" method="get">
                    <div class="input-group">
                        <input class="input-group-field" type="search" name="q">
                        <div class="input-group-button">
                            <input type="submit" class="button" value="Search">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        -->
        {% block javascript %}
        <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'bower_components/foundation-sites/dist/js/foundation.min.js' %}"></script>
        <!-- <script src="{% static 'js/app.js' %}"></script> -->
        <script>$(document).foundation();</script>
        {% endblock javascript %}
    </body>
</html>
