{% load staticfiles i18n core_tags thumbnail %}
<div class="small-12 medium-6 large-4 cell">
    <a class="ic__card-container" href="{% url 'events:event-detail-ajax' event_slug=e.slug %}">
        <div class="ic__card-photo" style="background-image:url({% thumbnail e.photo '512' as img %}{{ img.url }}{% endthumbnail %})">
            <div class="ic__user-avatar top right" title="{{ e.created_by.username }}">
                {% avatar e.created_by 'small' %}
            </div>
            <div class="ic__card-title">
                <h2>{{ e }}</h2>
            </div>
        </div>
        <p class="ic__card-description">{{ e.description }}</p>
        <p class="ic__card-details-item">
            <i><svg class="ic__icon small"><use xlink:href="#icon-event"></use></svg></i>
            {% with sd=e.start_datetime ed=e.end_datetime %}
            <span>
                {% if sd|date:'Y-m-d' == ed|date:'Y-m-d' %}
                    {% if sd.year == now.year %}
                        {% if sd.month == now.month %}
                            {{ sd|date:'D, j H:i' }} - {{ ed|date:'H:i' }}
                        {% else %}
                            {{ sd|date:'D, M j H:i' }} - {{ ed|date:'H:i' }}
                        {% endif %}
                    {% else %}
                        {{ sd }} - {{ ed }}
                    {% endif %}
                {% else %}
                    {% if sd.year == now.year %}
                        {% if sd.month == now.month %}
                            {{ sd|date:'D, j H:i' }} - {{ ed|date:'D, j H:i' }}
                        {% else %}
                            {{ sd|date:'D, M j H:i' }} - {{ ed|date:'D, M j H:i' }}
                        {% endif %}
                    {% else %}
                        {{ sd }} - {{ ed }}
                    {% endif %}
                {% endif %}
            </span>
            {% endwith %}
        </p>
        <p class="ic__card-details-item">
            <i><svg class="ic__icon small"><use xlink:href="#icon-price-euro"></use></svg></i>
            <span>{% if e.price > 0 %}{{ e.price }}{% else %}{% trans 'Free' %}{% endif %}</span>
        </p>
        <p class="ic__card-details-item">
            <i><svg class="ic__icon small"><use xlink:href="#icon-location"></use></svg></i>
            <span>{{ e.location_friendly_name }}</span>
        </p>
    </a>
</div>
