{% extends "forms/base.html" %}
{% load staticfiles i18n %}

{% block head_title %}{% trans "Create a new event" %}{% endblock %}

{% block form_title %}{% trans "Create a new event" %}{% endblock form_title %}

{% block inner %}
<form class="login ic__form" method="POST" action="" novalidate enctype="multipart/form-data">{% csrf_token %}
    {{ form.as_p }}
    <div class="ic__buttons">
        <button class="button primary" type="submit">{% trans 'Create event' %}</button>
        <a class="" href="{% url 'events:list-events' %}">{% trans "Cancel" %}</a>
    </div>
</form>
{% endblock inner %}
