{% extends "base.html" %}
{% load staticfiles i18n %}

{% block content %}
<div class="grid-x grid-padding-x">
    {% for event in events %}
        <div class="small-12 medium-4 cell">
            <div class="ic__card-container">
                <div class="ic__card-photo" style="background-image:url(
                    https://picsum.photos/1200/800?random={{event.pk}}
                )">
                    <div class="ic__card-title">
                        <h2>{{ event }}</h2>
                    </div>
                </div>
                <p class="ic__card-details-item">
                    <i><svg class="ic__icon small"><use xlink:href="#icon-event"></use></svg></i>
                    <span>2017-10-01 12:00 - 15:00</span>
                </p>
                <p class="ic__card-details-item">
                    <i><svg class="ic__icon small"><use xlink:href="#icon-price-euro"></use></svg></i>
                    <span>5.00</span>
                </p>
                <p class="ic__card-details-item">
                    <i><svg class="ic__icon small"><use xlink:href="#icon-location"></use></svg></i>
                    <span><a href="#">Santa Eulalia</a></span>
                </p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}
