{% extends "base.html" %}
{% load staticfiles i18n core_tags %}

{% block head_title %}{% trans 'Events' %}{% endblock %}
{% block page_title %}{% trans 'Events' %}{% endblock page_title %}

{% block content %}
{% if request.user.is_authenticated %}
<div class="grid-x grid-padding-x">
        <div class="small-12 cell">
            <a href="{% url 'events:create-event' %}" class="button primary">Add event</a>
        </div>
</div>
{% endif %}
<div class="grid-x grid-padding-x">
    {% for event in events %}
        <div class="small-12 medium-6 large-4 cell">
            <a class="ic__card-container" href="{{ event.get_absolute_url }}">
                <div class="ic__card-photo" style="background-image:url({% if event.photo %}{{ event.photo.url }}{% else %}
                    https://picsum.photos/1200/800?random={{event.pk}}{% endif %})">
                    <div class="ic__user-avatar top right" title="{{ event.created_by.username }}">
                        {% avatar event.created_by %}
                    </div>
                    <div class="ic__card-title">
                        <h2>{{ event }}</h2>
                    </div>
                </div>
                {% if event.description %}
                <p class="ic__card-description">{{ event.description }}</p>
                {% endif %}
                <p class="ic__card-details-item">
                    <i><svg class="ic__icon small"><use xlink:href="#icon-event"></use></svg></i>
                    {% with sd=event.start_datetime ed=event.end_datetime %}
                    <span>
                        {% if sd|date:'Y-m-d' == ed|date:'Y-m-d' %}
                            {% if sd.year == now.year %}
                                {% if sd.month == now.month %}
                                    {{ sd|date:'D, j H:i' }} - {{ ed|date:'H:i' }}
                                {% else %}
                                    {{ sd|date:'D, M j H:i' }} - {{ ed|date:'H:i' }}
                                {% endif %}
                            {% else %}
                                {{ sd }} - {{ ed }}
                            {% endif %}
                        {% else %}
                            {% if sd.year == now.year %}
                                {% if sd.month == now.month %}
                                    {{ sd|date:'D, j H:i' }} - {{ ed|date:'D, j H:i' }}
                                {% else %}
                                    {{ sd|date:'D, M j H:i' }} - {{ ed|date:'D, M j H:i' }}
                                {% endif %}
                            {% else %}
                                {{ sd }} - {{ ed }}
                            {% endif %}
                        {% endif %}
                    </span>
                    {% endwith %}
                </p>
                <p class="ic__card-details-item">
                    <i><svg class="ic__icon small"><use xlink:href="#icon-price-euro"></use></svg></i>
                    <span>{% if event.price > 0 %}{{ event.price }}{% else %}{% trans 'Free' %}{% endif %}</span>
                </p>
                <p class="ic__card-details-item">
                    <i><svg class="ic__icon small"><use xlink:href="#icon-location"></use></svg></i>
                    <span>Santa Eulalia</span>
                </p>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock content %}
