{% load static i18n core_tags %}
<!-- Search Engine -->
<meta name="description" content="The community for crowdsourcing your stay in Ibiza">
<meta name="image" content="{{ request.build_absolute_uri }}static/comingsoon/img/comingsoon.jpg">
<!-- Schema.org for Google -->
<meta itemprop="name" content="La Comunidad Ibiza">
<meta itemprop="description" content="The community for crowdsourcing your stay in Ibiza">
<meta itemprop="image" content="{{ request.build_absolute_uri }}static/comingsoon/img/comingsoon.jpg">
<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="La Comunidad Ibiza">
<meta name="twitter:description" content="The community for crowdsourcing your stay in Ibiza">
<meta name="twitter:site" content="@com_ibiza">
<meta name="twitter:creator" content="@com_ibiza">
<meta name="twitter:image:src" content="{{ request.build_absolute_uri }}static/comingsoon/img/comingsoon.jpg">
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta property="og:title" content="La Comunidad Ibiza">
<meta property="og:description" content="The community for crowdsourcing your stay in Ibiza">
<meta property="og:image" content="{{ request.build_absolute_uri }}static/comingsoon/img/comingsoon.jpg">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="fb:app_id" content="1658212564224354">
<meta property="og:site_name" content="La Comunidad Ibiza">
<meta property="og:locale" content="en_us">
<meta property="og:type" content="website">
