@import 'foundation/settings';
@import '../../../node_modules/foundation-sites/scss/foundation';
@import '../../../node_modules/foundation-sites/scss/util/mixins';

@import '_components/homepage';
@import '_components/utils';
@import '_components/forms';
@import '_components/fonts';
@import '_components/cards';
@import '_components/user';
@import '_components/social';
@import '_components/callout';
@import '_components/modal';
@import '_components/tags';

@include foundation-global-styles;
@include foundation-xy-grid-classes;
//@include foundation-grid;
//@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-typography;
@include foundation-forms;
@include foundation-button;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;

html, body {
    // height: 100%;
    width: 100%;
}

// Foundation 6.4.1 fixes
.menu-text > a {
    padding: 0 !important;
    color: inherit;
}

// Center a grid-x cell with less than 12 size
body.ic__center {
    .ic__title-container, .ic__content {
        justify-content: center;
    }
}

.grid-x.ic__center {
    justify-content: center;
    text-align: center;
}

// * Navbar * //

// Set height of navbar
// .ic__main-nav, .menu  {
//     height: 80px;
// }
.ic__main-nav-homepage{
    // Navbar for the homepage only
    position: fixed;
    right: 0;
    &.top-bar, &.top-bar ul {
        background-color: transparent;
        align-items: center;  // Fix for items not being aligned
    }
    a {
        color: $white;
        &::after {
            border-color: $white transparent transparent !important;
        }
    }
    .dropdown.menu .is-active > a {
        color: $white;
    }
    ul.js-dropdown-active {
        background-color: $white !important;
    }
    .dropdown .is-submenu-item a {
        color: $primary-color;
    }
}

.top-bar, .top-bar ul {
    background-color: $white;
}

.ic__main-container {
    // Arbitrary margin, adjust accordingly when needed.
    margin-top: 7rem;
}

.ic__main-nav{
    // Make sticky
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0;
    z-index: 100;

    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    // Used this example for centering the menu links: https://codepen.io/chriscoyier/pen/Jeryz?editors=1100
    .menu {
        // Add this to Foundation .menu since links next to logo are misaligned.
        align-items: center;
    }
}

.ic__title-bar {
    justify-content: space-between;
}

// * icons * //
svg {
    width: 100%;
    height: 100%;
}

// Taken from icomoon
.ic__icon {
    // Defaults for all icons
    display: block;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    &.small {
        width: 24px;
        height: 24px;
    }
    &.medium {
        width: 32px;
        height: 32px;
    }
}


// LOGO
a > i.ic__nomargin {
    padding: 0;
}
i {
    // Hijack i for icons
    display: inline-block;
    font-style: normal;
    margin-right: 0.5em;
    vertical-align: inherit;
    &.ic__nomargin {
        // Don't want so much space between icon and dropdown arrow
        margin-right: 0;
    }
    &.ic__vertical-align-fix {
        // The footer is not aligning well
        vertical-align: text-bottom;
    }
}

.ic__logo-large {
    width: 64px;
    height: 64px;
}

.ic__logo-medium {
    width: 32px;
    height: 32px;
}

.ic__logo-small {
    width: 32px;
    height: 32px;
}

.ic__logo {
    fill: $black;
}

.ic__logo-inverse {
    fill: $white;
}

.menu a.ic__logo-link {
    padding: 0;
}

.ic__logo-link-small {
    padding: 5px;
}

.ic__not_found_bg {
    background-image: url(../images/stock_photos/tommy-ferraz-124023.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    background: $twitter-gray;
    padding: 2rem 0 0;
}

// Google maps temporary

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

#map {
  height: 300px;
}

.ic__map {
    margin: 0 0 1rem;
    background: #ffaaaa;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.ic__small-text {
    font-size: rem-calc(12);
}

.ic__cs-wrapper {
    display: flex;
    width: 100%;
    min-height: 100vh;
}
.ic__cs-container {
    max-width: 100%;
    width: 35rem;
    display: flex;
    // background: #ff0000;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: $white;
    text-align: center;

    // Font sizes
    h3 {
        font-size: 1.2rem;
    }
    p {
        font-weight: 300;
    }
}

.ic__cs-description {
    text-align: center;
}

.ic__comingsoon {
    $background: darken(rgba(95, 75, 139, 0.5), 10%);
    background: linear-gradient($background, $background), url(/static/comingsoon/img/comingsoon.jpg);
    background-size: cover;
    background-position: center 70%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
