{% extends "base.html" %}
{% load staticfiles i18n %}

{% block head_title %}
    {% blocktrans with username=user.username %}{{ username }} profile{% endblocktrans %}
{% endblock head_title %}

{% block page_title %}{% blocktrans with username=user.username %}{{ username }} profile{% endblocktrans %}{% endblock page_title %}

{% block inner %}
<p>Profile picture: {{ user.profile.avatar }}</p>
<p>Username: {{ user.username }}</p>
<p>Name: {{ user.first_name }} {{ user.last_name }}</p>
{% endblock inner %}
